---
title:      Exemplo de bot達o
controller: home
---


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="main-content">
	<div class="container">
		<div class="row">
			<h2>Libre - Exemplo de bot達o</h2>

			<p>
    <!-- adiciona o bot達o do libre -->
    <div class="lbr-button"
      data-id="110"
    >
    </div>
			</p>

			<%= lorem.paragraphs(5)
						.split("\n")
						.map {|p| "<p>#{p}</p>"}
						.join %>

			<p>
				<!-- Your like button code -->
				<div class="fb-like"
					data-href="http://www.your-domain.com/your-page.html"
					data-layout="standard"
					data-action="like"
					data-show-faces="true">
				</div>
				<!-- your button code -->
    <!-- adiciona o bot達o do libre -->
    <div class="lbr-button"
      data-id="110"
    >
    </div>
			</p>


		</div>
	</div>
</section>

<% unless build? %>
	<script>(function(d, s, id) {
		var js, ljs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//dev.midialibre.org/sdk/libre.js#v1.0";
		ljs.parentNode.insertBefore(js, ljs);
	}(document, 'script', 'libre-sdk'));
	</script>
<% else %>
	<script>(function(d, s, id) {
		var js, ljs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//midialibre.org/sdk/libre.js#v1.0";
		ljs.parentNode.insertBefore(js, ljs);
	}(document, 'script', 'libre-sdk'));
	</script>
<% end %>
