---
title:      Exemplo de botão
controller: home
---


<section id="main-content">
	<div class="container">
		<div class="row">
			<h2>Libre - Exemplo de botão</h2>

			<p>
				<!-- your button code -->
				<div class="lbr-button"
					data-location="http://www.your-domain.com/your-page.html"
					data-theme="default"
					data-size="md">
				</div>
			</p>

			<%= lorem.paragraphs(5)
						.split("\n")
						.map {|p| "<p>#{p}</p>"}
						.join %>

			<p>
				<!-- your button code -->
				<div class="lbr-button"
					data-location="http://www.your-domain.com/your-page.html"
					data-theme="default"
					data-size="md">
				</div>
			</p>


		</div>
	</div>
</section>


<script>(function(d, s, id) {
	var js, ljs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//localhost:4567/sdk/libre.js#v1.0";
	ljs.parentNode.insertBefore(js, ljs);
}(document, 'script', 'libre-sdk'));
</script>
