@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,600';

@import 'bootstrap';
@import 'abstract/variables.scss';


.debug {
  border: solid 1px red;
}

body, html {
  height: 100%;
  width: 100%;
	font-size: 18px !important;
	font-family: $fnt_default, 'Arial';
	font-weight: 300;
}

input.form-control {
  border-radius: 0px;
}

.help-block {
	font-size: 14px;
}

nav {
  padding: 15px 0px 20px 0px;

	.collapsed {
		.btn-close {
			color: #999999 !important;
			display: inline-block;
			font-size: 52pt;
			font-weight: 300;
			line-height: 30px;
			padding: 5px 10px;
			position: fixed;
			top: 20px;
			right: 20px;
			z-index: 9999;
			border: none;
		}

		.nav {
			color: #dddddd !important;
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			background-color: rgba(70, 70, 70, 0.95);
			margin: 0px;
			min-height: 800px;
			padding: 75px 0px;
			transition: 0.5s;

			a {
				text-align: center;
				color: $white !important;
				font-size: 22px;
				padding: 10px 0px;

				&:hover {
					background-color: lightgreen !important;
				}
			}
		}
	}
}

.navbar-libre {
	.navbar-toggle {
		background-color: transparent !important;
		border: 2px solid #449d44;
	}

	.icon-bar {
		background-color: #70b370 !important;
	}

}

ul.clean-list {
  padding: 5px 0px;
  margin: 0px 0px 0px 15px;
  li {
    padding: 2px 0px;
  }
}

.text-green {
  color: $green;
}

.btn {
  border-radius: 1px !important;
  border-color: transparent;
  border-size: 2px;
  box-shadow: none;
	padding-left: 40px;
	padding-right: 40px;
}
.btn-default {
	background-color: #f3f3f3;
}
.btn-success-bordered {
  color: $green !important;
  border-color: $green !important;
  background-color: transparent !important;

  &:hover, &:active, &:focus {
    //background-color: darkgreen;
  }
}

.btn-bordered {
  background-color: transparent !important;
}
.btn-green {
	//@extend .btn-success
  //color: $green;
  //background-color: $green !important;
  //border-color: $green !important;

  //&:hover, &:active, &:focus {
  //  background-color: darkgreen;
  //}
}

.section-citation-name {
  color: $gray;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: solid 2px $light_green;
}

/* home page */
header {
  background-image: url(/assets/images/background-hearder.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 500px;
}
.header-index {
  _height: 70% !important;
}
.header-internal {
  height: 300px !important;
  max-height: 300px;
}


section {
  margin: 100px 0px;

	&#whats-this,
	&#howitworks {
		margin: 200px 0px;
	}

	&#maindivider {
		margin: 200px 0px 0px;
	}
}

.section-content {
  p {
    margin: 20px 0px;
  }
}

section#main-divider {
  background-image: url(/assets/images/libre-background.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 400px;
}

section#dash-main {
	min-height: 500px;
}

footer {
  padding: 100px 0px;
  background-color: $green;
  min-height: 200px;

  .social-button {
    height: 40px;
    width: 40px;
    background-color: #000000;
    display: inline-block;
    line-height: 42px;
    text-align: center;
  }

  input#search_by {
    background-color: transparent;
    border: solid 2px #333333;
    padding: 5px 10px 5px 40px;
    font-size: 18px;
    background-image: url(/assets/images/search-icon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
  }
}

.login-button {
/*
  margin-top: -7px;
  border: solid 2px #999999;
  padding: 0px 10px;
  line-height: 30px;
*/
}

.internal-header {
  min-height: 200px;
}

.btn-lbr--default {
  background-color: #00a44f;
  border-radius: 0px;
  font-weight: bold;
  color: #000000;
  padding: 6px 80px;
  font-size: 16px;
  text-transform: uppercase;
}

section#collaborator-section {
  background-color: #efefef;

  .section-header {
    background-image: url(/assets/images/section-backgound.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    min-height: 150px;
  }

  .section-tabs {
    background-color: #f9f9f9;

    .nav > ul {
      padding: 0px;
      margin: 0px;
      border: none !important;
    }
    .nav > li {
      &.active{
        color: green !important;
      }
      @media($desktop){
        width: 33.3%;
        max-height: 90px;
      }
      @media($phone){
        width: 100%;
      }

      @media($desktop){
        &.active::after {
          content: '';
          background-color: #ffffff;
          width: 60px;
          height: 60px;
          display: inline-block;
          position: relative;
          left: 50px;
          top: -55px;
          transform: rotate(45deg);
        }
      }
      &:not(:first-child) {
        border-left: solid 1px #eaeaea;
      }
    }
    .nav a {
      color: gray !important;
      font-size: 20px;
      padding: 30px 20px;
      border: none !important;
      z-index: 2;

    }
  }
  h2 {
    margin-top:100px;
    font-weight: 300;
  }

  .tab-content {
    .tab-pane {
      min-height: 300px;
      padding: 50px 0px 100px;
    }
  }
}

.text-spaced {
  margin: 40px 0px;
}

.text-green {
  color: $light_green;
}

/* custom components */
div.radio {
  line-height: 28px;
}


/* custom alerts */
.alert {
	border-radius: 0px;
	border: solid 0px transparent !important;
	box-shadow: none;

	&:empty {
		display: none;
	}
}

/* custom dropdown */
.navbar-nav > .open > a {
  background-color: transparent !important;
}
.dropdown {
	&-menu {
		width: 250px;
		margin-top: 20px !important;
		border-radius: 0px !important;
		border-color: #eaeaea;
	}
}

/*
.alert-success {
	background-color: #00a44f !important;
	color: #ffffff !important;
	border: solid 0px transparent;
	box-shadow: none;
}
.alert-danger {
	background-color: #bb3b38 !important;
	color: #ffffff !important;
	border: solid 0px transparent;
	box-shadow: none;
}
*/



/* dashboard number panels */
.number-box {
	color: #999999 !important;
	margin: 0px 20% 0px;
	text-align: left !important;
	padding: 10px 10px;

	.number-title {
		color: #999999 !important;
		font-size: 80px !important;
		line-height: 70px;
			margin: 0px
	}
	.number-icon {
		color: #999999 !important;
		font-size: 28px !important;
		line-height: 28px;
		font-weight: bolder;
		vertical-align: top;
		margin-left: -20px;
	}
	p {
		line-height: 16px;
	}
	h5 {
		text-align: left;
		margin: 0px;
		padding: 8px 0px;
		font-weight: bolder;
		font-size: 16px;
	}
}
.number-buttons {
	font-size: 16px;
	font-weight: bolder;
	margin: 15px 0px;

	a:first-child {
		float:left
	}
	a:last-child {
		float: right
	}
}
.number-pane {
	text-align: center;
	margin: 0px;
	min-width: 200px;
	min-height: 150px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.number-bordered {
	border: solid 1px #cccccc !important;
}
.number-title {
	font-size: 120px !important;
	line-height: 120px;
}
.number-icon {
	font-size: 20px !important;
	font-weight: bolder;
	line-height: 80px;
	vertical-align: top;
	margin-left: -20px;
	display: inline-block;
}
.number-description {
	color: #999;
	font-weight: bold;
}


/* loading */
.loading {
	text-align: center;

	img {
		z-index: 1204;
		position: fixed;
		margin-top: -60%;
		margin-left: -150px;
		width: 300px;
		height: 300px;
	}

	&-bg {
		z-index: 1200;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		top: 0;
		width: 100%;
		height: 100%;
	}
}

/* animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}







/***************************************************************************************/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
	margin-top: 40px;

	a {
		font-family: Montserrat, Arial;
		font-weight: 300 !important;
		color: $fg_invert !important;
		text-transform: uppercase;

		&:hover {
			color: $fg_green !important;
			transition: 0.3s;
		}
	}

	.dropdown-menu a {
		color: $fg_green !important;
		&:hover {
			color: green !important;
		}
	}
}
header {
  background-image: url(/assets/images/default/ph-destaque-home.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 500px;
	height: 100% !important;
	min-height: 680px;
}

.intro-text {
	display: inline-block;
	vertical-align: center;
	margin-top: calc(25% - 100px);
	_margin-bottom: calc(50% - 50px);

	.intro-lead-in {
		font-size: 22px;
		min-height: 150px;
	}
}

.btn-action {
	color: $fg_invert;
	border: solid 1px $bg_default;
	padding: 10px 50px;
	font-size: 18px;
  text-transform: uppercase;

	&:hover {
		color: $fg_green;
		border: solid 1px $bg_green;
		transition: 0.2s;
	}
}

.section-title {
	font-size: 48px;
	font-weight: 200;
	line-height: 0.63;
  text-transform: uppercase;
  margin: 20px 0px 75px 0px;
}


.space-top {
	margin-top: 50px;
}

//  for layer
@for $item from 1 through 10 {
	.layer-#{$item} {
		position: absolute;
		z-index: $item;
	}
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

section#whats-this {
	.photo-background {
		text-align: center;
		width: 600px;
		position: absolute;
		top: 95px;
		right: calc(100% - 1170px);
	}
	.text-background {
		color: $fg_grayc;
		filter: opacity(0.4);
		text-align: center;
		position: absolute;
		right: calc((100% - 1170px) - 75px);
	}
	.text-background:first-child {
		font-size: 150px;
		font-weight: 600;
		line-height: 100px;
		float: right;
	}
	.text-background:last-child {
		top: 575px;
		right: calc((100% - 1170px) + 500px);
		font-size: 68px;
		font-weight: 600;
		line-height: 68px;
	}
}


section#howitworks {
	margin-top: 300px;
}

.side-green {
	background-color: $bg_green;
	height: 10px;
	height: 1024px;
	top: 400px;
	right: 0;
	left: calc(100% - 10px);

	float: right;
	position: absolute;
	z-index: 20;
}



section#maindivider {
  background-image: url(/assets/images/default/img-quote-xl.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 500px;
	height: 500px !important;
	min-height: 680px;

	padding-top:200px;
	padding-bottom:200px;


	h3 {
		font-size: 28px;
		font-weight: 500;
		line-height: 1.67;
		letter-spacing: 0.7px;
		text-align: center;
	}

	span {
		color: #2dfb60;
		font-size: 18px;
		font-weight: 500;
		line-height: 2.22;
		letter-spacing: 0.9px;
		text-align: center;
		color: #2dfb60;
	}
}


footer {
	color: $fg_invert;
	background-color: $bg_green;

	a {
		color: $fg_invert !important;
		&:hover {
			color: green !important;
		}
	}
}

section#navbar {
	height: 100px;
	margin: 0px;

	nav {
		margin-top: 0px;
	}
	li {
		margin-top: 6px;
	}
	a {
		color: $fg_default;
	}
}

header.header-internal {
	min-height: 125px !important;
	height: 125px !important;
	background-color: #33cc66;
	background-image: url(/assets/images/default/img-destaque-interno.png);
	background-position: left center;
	background-size: unset;
}


.dash-topmenu {
	background-color: #33cc66;
	padding: 10px 0px;
	text-align: center;
	color: white;
	border-radius: 10px;

	a {
		color: #fff;
		font-weight: bold;

		&:hover, &:active {
			color: #26440b;
			text-decoration: none;
		}
	}
}

.codigo {
	background-color: rgb(247, 247, 249);
	border: 1px solid rgb(225, 225, 232);
	display: block;
	font-size: small;
	height: 360px;
	margin-bottom: 14px;
	padding: 9px 14px;
	width: 100%;
}
