
@import 'bootstrap';

/* VARS */
$dark_green: #1e5f2f;
$green: #00a44f;
$light_green: #3cb878;

$white: #ffffff;
$gray: #999999;


/**
* MEDIA QUERY USAGE:
* @media ($phone) { ... }
*/
$phone: 'max-width: 640px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$widescreen: 'min-width: 1024px';

.debug {
  border: solid 1px red;
}

body, html {
  height: 100%;
  width: 100%;
	font-size: 18px !important;
}

input.form-control {
  border-radius: 0px;
}

nav {
  padding: 15px 0px 20px 0px;
}
.navbar-libre {
	.navbar-toggle {
		background-color: transparent !important;
		border: 2px solid #449d44;
	}

	.icon-bar {
		background-color: #70b370 !important;
	}
}

ul.clean-list {
  padding: 5px 0px;
  margin: 0px 0px 0px 15px;
  li {
    padding: 2px 0px;
  }
}

.text-green {
  color: $green;
}

.btn {
  border-radius: 1px !important;
  border-color: transparent;
  border-size: 2px;
  box-shadow: none;
	padding-left: 40px;
	padding-right: 40px;
}
.btn-success-bordered {
  color: $green !important;
  border-color: $green !important;
  background-color: transparent !important;

  &:hover, &:active, &:focus {
    //background-color: darkgreen;
  }
}

.btn-bordered {
  background-color: transparent !important;
}
.btn-green {
	//@extend .btn-success
  //color: $green;
  //background-color: $green !important;
  //border-color: $green !important;

  //&:hover, &:active, &:focus {
  //  background-color: darkgreen;
  //}
}

.section-citation-name {
  color: $gray;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: solid 2px $light_green;
}

/* home page */
header {
  background-image: url(/assets/images/background-hearder.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 500px;
}

.header-index {
  height: 100% !important;
}
.header-internal {
  height: 300px !important;
  max-height: 300px;
}



.section-title {
  color: $dark_green;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px 75px 0px;
}

section {
  margin: 100px 0px;
}

.section-content {
  p {
    margin: 20px 0px;
  }
}

section#main-divider {
  background-image: url(/assets/images/libre-background.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 400px;
}

footer {
  margin-top: 100px;
  padding: 100px 0px;
  background-color: $green;
  min-height: 200px;

  .social-button {
    height: 40px;
    width: 40px;
    background-color: #000000;
    display: inline-block;
    line-height: 42px;
    text-align: center;
  }

  input#search_by {
    background-color: transparent;
    border: solid 2px #333333;
    padding: 5px 10px 5px 40px;
    font-size: 18px;
    background-image: url(/assets/images/search-icon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
  }
}

.login-button {
  margin-top: -7px;
  border: solid 2px #999999;
  padding: 0px 10px;
  line-height: 30px;
}

.internal-header {
  min-height: 200px;
}

.btn-lbr--default {
  background-color: #00a44f;
  border-radius: 0px;
  font-weight: bold;
  color: #000000;
  padding: 6px 80px;
  font-size: 16px;
  text-transform: uppercase;
}

section#collaborator-section {
  background-color: #efefef;

  .section-header {
    background-image: url(/assets/images/section-backgound.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    min-height: 150px;
  }

  .section-tabs {
    background-color: #f9f9f9;

    .nav > ul {
      padding: 0px;
      margin: 0px;
      border: none !important;
    }
    .nav > li {
      &.active{
        color: green !important;
      }
      @media($desktop){
        width: 33.3%;
        max-height: 90px;
      }
      @media($phone){
        width: 100%;
      }

      @media($desktop){
        &.active::after {
          content: '';
          background-color: #ffffff;
          width: 60px;
          height: 60px;
          display: inline-block;
          position: relative;
          left: 50px;
          top: -55px;
          transform: rotate(45deg);
        }
      }
      &:not(:first-child) {
        border-left: solid 1px #eaeaea;
      }
    }
    .nav a {
      color: gray !important;
      font-size: 20px;
      padding: 30px 20px;
      border: none !important;
      z-index: 2;

    }
  }
  h2 {
    margin-top:100px;
    font-weight: 300;
  }

  .tab-content {
    .tab-pane {
      min-height: 300px;
      padding: 50px 0px 100px;
    }
  }
}

.text-spaced {
  margin: 40px 0px;
}

.text-green {
  color: $light_green;
}

/* custom components */
div.radio {
  line-height: 28px;
}


/* custom alerts */
.alert {
	border-radius: 0px;
	border: solid 0px transparent !important;
	box-shadow: none;
}

/* custom dropdown */
.navbar-nav > .open > a {
  background-color: transparent !important;
}
.dropdown {
	&-menu {
		width: 250px;
		margin-top: 20px !important;
		border-radius: 0px !important;
		border-color: #eaeaea;
	}
}

/*
.alert-success {
	background-color: #00a44f !important;
	color: #ffffff !important;
	border: solid 0px transparent;
	box-shadow: none;
}
.alert-danger {
	background-color: #bb3b38 !important;
	color: #ffffff !important;
	border: solid 0px transparent;
	box-shadow: none;
}
*/



/* dashboard number panels */
.number-box {
	color: #999999 !important;
	margin: 0px 20% 0px;
	text-align: left !important;
	padding: 10px 10px;

	.number-title {
		color: #999999 !important;
		font-size: 80px !important;
		line-height: 70px;
			margin: 0px
	}
	.number-icon {
		color: #999999 !important;
		font-size: 28px !important;
		line-height: 28px;
		font-weight: bolder;
		vertical-align: top;
		margin-left: -20px;
	}
	p {
		line-height: 16px;
	}
	h5 {
		text-align: left;
		margin: 0px;
		padding: 8px 0px;
		font-weight: bolder;
		font-size: 16px;
	}
}
.number-buttons {
	font-size: 12px;
	font-weight: bolder;

	a:first-child {
		float:left
	}
	a:last-child {
		float: right
	}
}
.number-pane {
	text-align: center;
	margin: 0px;
	min-width: 200px;
	min-height: 150px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.number-bordered {
	border: solid 1px #cccccc !important;
}
.number-title {
	font-size: 120px !important;
	line-height: 120px;
}
.number-icon {
	font-size: 20px !important;
	font-weight: bolder;
	line-height: 80px;
	vertical-align: top;
	margin-left: -20px;
	display: inline-block;
}
.number-description {
	color: #999;
	font-weight: bold;
}


/* loading */
.loading {
	text-align: center;

	img {
		z-index: 1204;
		position: fixed;
		margin-top: -60%;
		margin-left: -150px;
		width: 300px;
		height: 300px;
	}

	&-bg {
		z-index: 1200;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		top: 0;
		width: 100%;
		height: 100%;
	}
}

/* animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
