
          <ul class="nav navbar-nav navbar-right">
            <!-- top navbar menu -->
            <% data.shared.menu.each do |l| %>
              <% if l.label == 'Login' %>
                <li>
                  <% link_to l.path, title: l.label do %>
                    <div class="login-button"><%= l.label.upcase %>&nbsp;<img src="/images/login-arrow.png" height="16px"></div>
                  <% end %>
                </li>
              <% else %>
                <li><% link_to l.path, title: l.label do %><%= l.label %><% end %></li>
              <% end %>
            <% end %>
          </ul>
