					<% content_tag :ul, id: 'dash-usermenu', class: 'nav navbar-nav navbar-right hide' do %>
            <!-- top navbar menu -->
            <% data.shared.menu.each do |l| %>
              <% if l.label == 'Login' %>
                <li>
									<% link_to l.path, title: l.label, data: { bypass: true } do %>
										<div class="login-button"><strong><%= l.label.upcase %></strong>&nbsp;<img src="/assets/images/login-arrow.png" height="16px"></div>
                  <% end %>
                </li>
              <% else %>
                <li><% link_to l.path, title: l.label, data: { bypass: true } do %><%= l.label %><% end %></li>
              <% end %>
            <% end %>
					<% end %>
