<script id="usageReportTemplate" type="text/template">
{{for months}}
  <form class="row monthly-report js-trigger-submit">
    <input type="hidden" name="year" value="{{:year_id}}">
    <input type="hidden" name="month" value="{{:month_id}}">

    <div class="col month-line-header col-md-2">
      <div class="month-of-report">{{:month}}</div>
    </div>

    <div class="col form-group col-md-3">
      <label for="employees-{{#index}}">Número de funcionários</label>
      <input type="number" name="employees" value="{{:employees}}" class="form-control" id="employees-{{#index}}" placeholder="0" min="0" step="1" {{if disabled}}disabled="disabled"{{/if}} />
    </div>

    <div class="col form-group col-md-3">
      <label for="water-{{#index}}">Consumo de água <small>(<code>m<sup>3</sup></code>)</small></label>
      <input type="number" name="consumption" value="{{:consumption}}" class="form-control" id="consumption-{{#index}}" placeholder="0" {{if disabled}}disabled="disabled"{{/if}} />
    </div>

    <div class="col form-group col-md-3">
      <label for="production-{{#index}}">Produção <small>(<code>horas</code>)</small></label>
      <input type="number" name="production" value="{{:production}}" class="form-control" id="production-{{#index}}" placeholder="0" {{if disabled}}disabled="disabled"{{/if}} />
    </div>

    <div class="col col-md-1">
      <button type="submit" class="btn btn-primary btn-sm btn-block" {{if disabled}}disabled="disabled"{{/if}}>salvar</button>
    </div>
  </form>
{{/for}}
</script>

<%#
expected format:

{months:[
  {
    "month": "junho",
    "employees": 13,
    "production": 10
  },
  {
    "month": "julho",
    "employees": 16,
    "production": 10.8
  }]
};
%>
