---
title:    Minha conta
module:		dash
---

<br>
<br>
<br>
<br>

<section id="dash-main">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="number-pane">
					<h3 class="number-title">
						<span>999</span>
						<small class="number-icon text-green">LBR</small>
					</h3>
					<p class="text-center">
						<span class="number-description">Saldo atual</span>
					</p>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<div class="number-pane">
					<h3 class="number-title text-green">
						<span>999</span>
						<small class="number-icon text-green">ICON</small>
					</h3>
					<p class="text-center">
						<span class="number-description">Total de apoios</span>
					</p>
				</div>
			</div>


			<div class="col-md-4 text-center">
				<div class="number-pane number-bordered number-box">
					<h5>Seu Plano</h5>
					<h3 class="number-title">
						<span>999</span>
						<small class="number-icon">R$</small>
					</h3>
					<p class="number-description">
						<small>Próxima data de débito:</small><br>
						<small>02.02.2017</small>
					</p>
					<div class="number-buttons">
						<a class="text-green" href="#plano">DETALHES</a>
						<a class="text-green" href="#extrato">VER EXTRATO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div id="dash-container" class="container">

	</div>
</section>


